@import "tailwindcss";

:root {
  /* Primary Colors */
  --color-primary: #009A4C;
  --color-primary-dark: #196344;

  /* Neutral Colors */
  --color-white: #FFFFFF;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
  --color-black: #000000;

  /* Background and text */
  --background: var(--color-white);
  --foreground: var(--color-gray-900);
  
  /* Font Size */
  --font-size-xlarge: 2rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Arial', sans-serif;
}

/* Animasi slider */
@layer utilities {
  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  .animate-scroll-reverse {
    animation: scroll-reverse 60s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

   @keyframes scroll-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/* SweetAlert Toast */
.custom-swal-popup {
  width: auto !important;
  min-width: 300px !important;
  padding: 15px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
}

.custom-swal-icon {
  margin-right: 15px !important;
  margin-left: 0 !important;
  width: 32px !important;
  height: 32px !important;
}

.custom-swal-title {
  font-size: 16px !important;
  font-weight: 500 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4 !important;
  flex-grow: 1 !important;
  text-align: left !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}